:root {
  // Light theme
  --background: #eceff4;
  --background-elevated: #d8dee9;

  --text-color: #2e3440;
  --text-elevated: #bf616a;

  // Theme independent
  --background-header: #d35f8d;
  --text-selected: #81a1c1;
  --color-border: #b48ead;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2e3440;
    --background-elevated: #3b4252;

    --text-color: #d8dee9;
    --text-elevated: #b48ead;
    --text-primary: #eceff4;
  }

  .Icon {
    filter: invert(100%);
  }
}
