.Display {
  overflow: scroll;
  height: auto;
  max-height: 100%;
}

.Link {
  font-size: 14px;
  font-weight: 600;
  padding: var(--padding);

  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.Link--active {
  border-bottom: 1px solid var(--text-selected);
}

.Navigation {
  height: 100px;
  overflow-y: scroll;
}

.Information {
}

.Information__content {
  padding: var(--padding);
  margin: 0;
}

/**
 * Transition
 */
.message-enter {
  opacity: 0;
}

.message-enter-active {
  opacity: 1;
  transition: opacity 0.2s;
}

.message-exit {
  opacity: 1;
}

.message-exit-active {
  opacity: 0;
  transition: opacity 0.2s;
}
