.Header {
  background: var(--background-header);
  color: white;
  padding: var(--padding) 12px;

  display: flex;
  align-items: center;
}

.Header__icon {
  height: 23px;
}

.Header__text {
  font-weight: 600;
}
