.Header {
  background: var(--background-header);
  color: white;
  padding: var(--padding) 12px;

  display: flex;
  align-items: center;
}

.Header__icon {
  all: unset;
  cursor: pointer;
  transition: opacity 0.2s;

  height: 23px;

  &:hover {
    opacity: 0.8;
  }
}

.Header__text {
  font-weight: 600;
}
