.Kaomoji {
  display: inline-block;
  padding: 4px var(--padding);
  line-height: 2;
  font-weight: 600;
  white-space: nowrap;

  transition: color 0.2s;
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--text-elevated);
  }

  &:active {
    color: var(--background-header);
  }
}
