.Navigation {
  overflow-y: scroll;
  scrollbar-width: none;

  user-select: none;

  min-height: 40px;
  display: flex;
  align-items: center;

  border-top: 1px solid var(--color-border);
}

.Link {
  font-size: 14px;
  font-weight: 600;
  padding: var(--padding);

  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: none;
}

.Link--active {
  border-bottom: 1px solid var(--text-selected);
}
