.BackButton {
  all: unset;

  color: var(--color-border);
  border-bottom: 1px solid var(--color-border);

  transition: 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--background-header);
  }
}

.BackButton__content {
  margin: 0;
  padding: 12px;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.Preference {
  display: grid;
  grid-template-columns: 1fr;
}

.Preference__name {
  margin: 0;
  padding: 12px 0 8px 12px;
  font-weight: 600;
  grid-column: 1;
}

.Preference__description {
  padding: 0 12px;
  opacity: 0.9;
  font-size: 0.86em;

  margin: 0;
  grid-column: 1;
}

.Preference__input {
  grid-row: 1 / 3;
  grid-column: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Input__element {
  all: unset;
  cursor: text;

  border: 1px solid var(--text-elevated);
  border-radius: 4px;
  padding: 6px;

  // Make this input unaffected by global font style, just in case
  font: sans-serif;
}

.Preference__checkbox {
  cursor: pointer;
  padding: 0 20px;

  grid-row: 1 / 3;
  grid-column: 2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.Preference__button {
  all: unset;

  transition: 0.2s;
  cursor: pointer;

  padding: 12px 0 8px 12px;

  color: var(--text-elevated);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

  &:hover {
    color: var(--background-header);
  }
}

.Checkbox__element {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.Checkbox {
  display: inline-block;
  height: 24px;
  width: 24px;
  background: var(--background);
  border: 2px var(--color-border) solid;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
}

.Checkbox--checked {
  background: var(--color-border);
}

.Preferences__link {
  display: inline-block;
  padding: 12px 0 8px 12px;

  color: var(--text-elevated);
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--background-header);
  }
}
